[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "3rdparty/argparse"]
	path = 3rdparty/argparse
	url = https://github.com/p-ranav/argparse
[submodule "3rdparty/thread-pool"]
	path = 3rdparty/thread-pool
	url = https://github.com/bshoshany/thread-pool
[submodule "3rdparty/jeviterm"]
	path = 3rdparty/jeviterm
	url = https://github.com/jevinskie/jeviterm
